In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Antanifotsy,MG,-19.6500,47.3167,49.14,95,100,7.81,overcast clouds
1,1,Atuona,PF,-9.8000,-139.0333,77.45,67,36,17.47,scattered clouds
2,2,Opuwo,NaN,-18.0607,13.8400,55.51,32,0,6.42,clear sky
3,3,Saint-Philippe,RE,-21.3585,55.7679,67.59,84,100,20.98,light rain
4,4,Samarai,PG,-10.6167,150.6667,80.17,83,61,7.14,light rain

In [3]:
# Step2. 6.5.3code float input Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(5)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Atuona,PF,-9.8000,-139.0333,77.45,67,36,17.47,scattered clouds
4,4,Samarai,PG,-10.6167,150.6667,80.17,83,61,7.14,light rain
8,8,Hilo,US,19.7297,-155.0900,77.25,93,83,1.99,moderate rain
21,21,Pirgos,GR,35.1167,25.7178,80.94,52,0,9.64,clear sky
28,28,Almeirim,BR,-1.5233,-52.5817,79.27,69,91,2.75,overcast clouds

In [6]:
# 4a. 6.5.3 Determine if there are any empty rows.
#from quiz
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. 6.5.3 Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Atuona,PF,-9.8000,-139.0333,77.45,67,36,17.47,scattered clouds
4,4,Samarai,PG,-10.6167,150.6667,80.17,83,61,7.14,light rain
8,8,Hilo,US,19.7297,-155.0900,77.25,93,83,1.99,moderate rain
21,21,Pirgos,GR,35.1167,25.7178,80.94,52,0,9.64,clear sky
28,28,Almeirim,BR,-1.5233,-52.5817,79.27,69,91,2.75,overcast clouds
32,32,Isangel,VU,-19.5500,169.2667,76.68,57,19,9.06,few clouds
33,33,Mangrol,IN,21.1167,70.1167,82.06,83,100,23.42,overcast clouds
38,38,Ahuimanu,US,21.4447,-157.8378,81.79,71,40,13.80,scattered clouds
43,43,Watrous,CA,51.6668,-105.4679,78.55,26,6,2.13,clear sky
45,45,Jalu,LY,29.0331,21.5482,79.75,45,0,9.71,clear sky

In [8]:
# 5a. 6.5.4 Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Atuona,PF,77.45,scattered clouds,-9.8000,-139.0333,
4,Samarai,PG,80.17,light rain,-10.6167,150.6667,
8,Hilo,US,77.25,moderate rain,19.7297,-155.0900,
21,Pirgos,GR,80.94,clear sky,35.1167,25.7178,
28,Almeirim,BR,79.27,overcast clouds,-1.5233,-52.5817,
32,Isangel,VU,76.68,few clouds,-19.5500,169.2667,
33,Mangrol,IN,82.06,overcast clouds,21.1167,70.1167,
38,Ahuimanu,US,81.79,scattered clouds,21.4447,-157.8378,
43,Watrous,CA,78.55,clear sky,51.6668,-105.4679,
45,Jalu,LY,79.75,clear sky,29.0331,21.5482,

In [9]:
# 6a. 6.5.4 Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [10]:
# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    
    # 6.5.4 Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6.5.4 Use the search term: "lodging" and our latitude and longitude.
    #base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    #hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. If you encounter more errors, add them to the except block—like so, 
    #(IndexError, NewError)—and continue running your code until there are no errors.
    #Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try: 
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("hotel not found... skip.")

hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.
hotel not found... skip.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!='']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Atuona,PF,77.45,scattered clouds,-9.8000,-139.0333,Villa Enata
4,Samarai,PG,80.17,light rain,-10.6167,150.6667,Nuli Sapi
8,Hilo,US,77.25,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
21,Pirgos,GR,80.94,clear sky,35.1167,25.7178,Daios Cove
28,Almeirim,BR,79.27,overcast clouds,-1.5233,-52.5817,Ricácio Hotel
32,Isangel,VU,76.68,few clouds,-19.5500,169.2667,Tanna Lodge
33,Mangrol,IN,82.06,overcast clouds,21.1167,70.1167,Hotel The Royal Honours
38,Ahuimanu,US,81.79,scattered clouds,21.4447,-157.8378,Paradise Bay Resort
43,Watrous,CA,78.55,clear sky,51.6668,-105.4679,Manitou Hotel
45,Jalu,LY,79.75,clear sky,29.0331,21.5482,صاحبة الفخامة

In [12]:
#6.5.3 Our final task will be to add pop-up markers with hotel information to a heatmap.
#Before we add pop-up markers with hotel information, 
#let's create a heatmap using the maximum temperature from our hotel_df DataFrame by reusing the code
#and changing the DataFrame name.

In [13]:
#re tutor
%matplotlib inline

In [14]:
# 6.5.4 Add a heatmap of temperature for the vacation spots.
# 6.5.4 Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv. got it exported.
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [49]:
# 9. 6.5.4 Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dl>
"""

# 10a. 6.5.4 Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. 6.5.4 Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [50]:
# 11a. 6.5.4 Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))